<p id="notice"><%= notice %></p>

<h1>3D Printing Service Providers available in Malaysia</h1>

<div class="container">
    <% @serviceproviders.each_with_index do |provider,index| %>
        <%=index+1%>.
        <%=provider.provider_name%><br>
        Description:        
        <%=provider.description%><br>
        Location:
        <%=provider.location%><br>
        Phone:
        <%=provider.phone%><br>
        Email:
        <%=provider.email%><br>
        <%= link_to 'Show', user_serviceprovider_path(:user_id=>provider.user_id,:id=>provider.id)  %><br>

    <%end%>
</div>