<p id="notice"><%= notice %></p>
<div class="container">
<h1 class=''>3D Printing Service Providers</h1>
    <% @serviceproviders.each_with_index do |provider,index| %>
        <div class="card provider_all" style="width: 28rem;">
            <div class="card-body">
                <h5 class="card-title"><%=provider.provider_name%><br></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%=provider.location%><br></h6>
                <p class="card-text"> Description:
                <%=provider.description%><br>
                Phone:
                <%=provider.phone%><br>
                Email:
                <%=provider.email%><br>
                <%= link_to 'Show', user_serviceprovider_path(:user_id=>provider.user_id,:id=>provider.id)  %><br>

            </div>
        </div>
    <%end%>
</div>

