<p id="notice"><%= notice %></p>


  <%= @serviceprovider.provider_name%><p>
 
  <%= @serviceprovider.description%><p>
  Description:
  <%= @serviceprovider.location%><p>
  Phone Number:
  <%= @serviceprovider.phone%><p>
  Email:
  <%= @serviceprovider.email%><p>
  <%= @serviceprovider.materials%><p>
