<div class="jumbotron welcome">
<div class="card-group">
  <div class="card card-size">
       <img class ="picture" src='<%=asset_path ('IMG_7404')%>'>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"> User </h5>
    </div>
      <%= form_with(model: @user, local: true) do |form| %>
          <%= form.text_field :first_name, class:'col-8 form-control', placeholder:'First Name' %><p>
          <%= form.text_field :last_name, class:'col-8 form-control', placeholder:'Last Name' %><p>
          <%= form.text_field :email, class:'col-8 form-control', placeholder:'Email' %><p>
          <%= form.text_field :password, type:'password',class:'col-8 form-control', placeholder:'password' %><p>
          <%= form.select :gender, ['Male', 'Female'], class:"col-8" %><p>
          <%= form.text_field :birthday, type: 'birthday',placeholder:'yyyy-mm-dd', class:"col-8 form-control"  %>
          <%= form.label :profilepicture%>
          <%= form.file_field :profilepicture %>
          <%= form.submit 'SIGN UP'%><p>
      <% end %>

  </div>
</div>



<%= link_to 'Back', users_path %>
