<p id="notice"><%= notice %></p>
Welcome back to ME3D<p>
<%= image_tag(@users.profilepicture.url, alt: 'Image') if @users.profilepicture? %>

 <%if @users.gender=='Male'%>
 Mr. <%=@users.first_name%><br>
 <hr>   
 <%elsif @users.gender=='Female'%>
 Mrs.<%=@users.first_name%><br>
 <hr>
 <%end%>
 <%if @users.serviceprovider_ids!=[]%>
  <strong>Service Provider Information:</strong><p>
  <%= @users.serviceproviders.last.provider_name%><p>
  <%= @users.serviceproviders.last.description%><p>
  Phone Number :
  <%= @users.serviceproviders.last.phone%><p>
  Email:
  <%= @users.serviceproviders.last.email%><p>

  States:
  <%= @users.serviceproviders.last.location%><p>
    Delivery service:
  <%= @users.serviceproviders.last.delivery%><p>
    Self collection service:
  <%= @users.serviceproviders.last.collection%><p>
  <%if current_user %>
<%= link_to 'Edit',edit_user_serviceprovider_path(@current_user) %> 
<%end%>

 <%end%>

